.burger_constructor {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
  width: 600px;
  padding-bottom: 156px;
  color: var(--text-primary-color);
}

.burger_ingredients_between {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}

.total_price {
  position: absolute;
  right: 16px;
  bottom: 52px;
}
