.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.burger_ingredients_between {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
}
