.page {
  display: flex;
  width: 1200px;
  margin: 120px auto 0;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.nav_button {
  color: #8585ad;
  line-height: 30px;
}

.active {
  color: #f2f2f3;
}
