.wrapper {
  display: flex;
  align-items: center;
}

.draggable {
  cursor: grab;
}

.burger_ingredient {
  min-height: 80px;
  max-height: 80px;
}

.no_drag {
  visibility: hidden;
}

.is_drugging {
  --background-element: #514591;
}
